[submodule "vendor_bills"]
	path = vendor_bills
	url = git@github.com:William954/vendor_bills.git

[submodule "Poliza_reports"]
	path = Poliza_reports
	url = git@github.com:William954/poliza_reports.git
	branch = master
